# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Next.js
.next
.env.local
libs/prisma-client/src/index-browser.js
libs/prisma-client/src/index.d.ts
libs/prisma-client/src/index.js
libs/prisma-client/src/index.ts
libs/prisma-client/src/package.json
libs/prisma-client/src/query_engine-windows.dll.node
libs/prisma-client/src/schema.prisma
libs/prisma-client/src/lib/prisma-client.spec.ts
libs/prisma-client/src/lib/prisma-client.ts
libs/prisma-client/src/runtime/edge.js
libs/prisma-client/src/runtime/index-browser.d.ts
libs/prisma-client/src/runtime/index-browser.js
libs/prisma-client/src/runtime/index.d.ts
libs/prisma-client/src/runtime/index.js
.env
